parameters:
	scanDirectories:
	    -  %currentWorkingDirectory%/src
	    -  %currentWorkingDirectory%/tests/unit
	autoload_files: []
	polluteCatchScopeWithTryAssignments: true
	level: max
	ignoreErrors:
	    - '#\$options of class MongoDB\\Driver\\BulkWrite constructor expects bool#'